<div class="row">
  <div class="col-9">
    <section class="d-flex justify-content-between align-items-center mb-4">
      <h3>Welcome {{username}}</h3>
      <a href="/dashboard/new-post" class="btn btn-dark py-2">New Post</a>
    </section>
  
    <section>
      {{#if posts.length}}
      <h4 class="mb-2">Your Posts</h4>
  
      {{#each posts as |post|}}
      {{> post-dashboard-details}}
      {{/each}}
      {{/if}}
    </section>
  </div>
  <div class="col-3">
    <div class="card" style="width: 18rem;">
    <img src="/img/user.png" class="card-img-top" alt="avatar">
    <div class="card-body">
      <h5 class="card-title">{{profile.fullname}}</h5>
      <p class="card-text">SKILL : {{profile.skills}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">TEL : {{profile.tel}}</li>
      <li class="list-group-item">ADDRESS : {{profile.address}}</li>
    </ul>
    <div class="card-body d-flex justify-content-center">
       {{#if checkProfile}}
         <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#profileModal">Create</button>
        {{else}}
         <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#profileModal" id="editProfile">EDIT</button>
        {{/if}}
     
    </div>  
  </div>
</div>
</div>

 <!-- Modal -->
    <div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            {{#if checkProfile}}
            <h5 class="modal-title" id="exampleModalLabel">CREATE YOUR PROFILE</h5>
            {{else}}
            <h5 class="modal-title" id="exampleModalLabel">UPDATE YOUR PROFILE</h5>
            {{/if}}
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-outline mb-4 ">
              <label class="form-label" for="name">Full Name:</label>
              <input type="text" id="name"  name="name"
                  class="form-control" />
            </div>
            <div class="form-outline mb-4 ">
              <label class="form-label" for="skill">Skill:</label>
              <input type="text" id="skill"  name="skill"
                  class="form-control" />
            </div>
            <div class="form-outline mb-4 ">
              <label class="form-label" for="tel">Tel:</label>
              <input type="text" id="tel"  name="tel"
                  class="form-control" />
            </div>
            <div class="form-outline mb-4 ">
              <label class="form-label" for="address">Address:</label>
              <input type="text" id="address"  name="address"
                  class="form-control" />
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="submitForm" >Save changes</button>
          </div>
        </div>
      </div>
    </div>

{{#if checkProfile}}
<script src="/js/create-profile.js"></script>
{{else}}
<script src="/js/update-profile.js"></script>
{{/if}}